body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}


section:after {
    content: "";
    display: table;
    clear: both;
}

nav {
    float: left;
    width: 30%;
    height: 300px; /* only for demonstration, should be removed */
    background: #ccc;
    padding: 20px;
}

article {
    float: left;
    padding: 20px;
    width: 70%;
    background-color: #f1f1f1;
    height: 300px; /* only for demonstration, should be removed */
}